@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Override rem size */

:root {
    font-size: 11.2px;
}

/* Variables */

:root {
    --color-900-dark: #181E22;
    /* --color-800-dark: #151a21;
    --color-700-dark: #242c37;
    --color-600-dark: #323d4d;
    --color-300-dark: #5d7290;
    --color-200-dark: #b2bdcd; */
    --color-100-dark: #F4F4F4;

    --color-900-light: #F4F4F4;
    /* --color-800-light: #cfd7e2;
    --color-700-light: #b9c0ca;
    --color-600-light: #323d4d;
    --color-300-light: #242c37;
    --color-200-light: #151a21; */
    --color-100-light: #181E22;

    --color-900: var(--color-900-dark);
    /* --color-800: var(--color-800-dark);
    --color-700: var(--color-700-dark);
    --color-600: var(--color-600-dark);
    --color-300: var(--color-300-dark);
    --color-200: var(--color-200-dark); */
    --color-100: var(--color-100-dark);

    --color-accent-1: #FFC8DD;
    --color-accent-2: #FFAFCC;
    --color-accent-3: #BDE0FE;
    --color-accent-4: #A2D2FF;
}

@media screen and (prefers-color-scheme: dark) { /* light */
    :root {
        --color-900: var(--color-900-light);
        /* --color-800: var(--color-800-light);
        --color-700: var(--color-700-light);
        --color-600: var(--color-600-light);
        --color-300: var(--color-300-light);
        --color-200: var(--color-200-light); */
        --color-100: var(--color-100-light);
    }
}

/* Body */

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-900);
    color: var(--color-100);
    overflow: hidden;
    overscroll-behavior-y: contain;
}

#app {
    background-color: var(--color-900);
    overflow: hidden;
}

/* General style */

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    scroll-behavior: smooth;
}

p {
    margin: 0px;
    padding: 0px;
    color: var(--color-100);
}

img {
    pointer-events: none;
    user-select: none;
}

/* More tailwind-like classes */

.color-accent-1 {
    color: var(--color-accent-1);
}

.color-accent-2 {
    color: var(--color-accent-2);
}

.bg-accent-1 {
    background-color: var(--color-accent-1);
}

.bg-accent-2 {
    background-color: var(--color-accent-2);
}

.bg-accent-3 {
    background-color: var(--color-accent-3);
}

.bg-accent-4 {
    background-color: var(--color-accent-4);
}

.stroke-accent {
    stroke: var(--color-accent-1);
}

.color-100 {
    color: var(--color-100);
}

.color-100-fix {
    color: var(--color-100-light);
}

.bg-100 {
    background-color: var(--color-100);
}

.border-100 {
    border-color: var(--color-100);
}

.stroke-100 {
    stroke: var(--color-100);
}

.color-200 {
    color: var(--color-200);
}

.bg-200 {
    background-color: var(--color-200);
}

.color-300 {
    color: var(--color-300);
}

.bg-300 {
    background-color: var(--color-300);
}

.bg-600 {
    background-color: var(--color-600);
}

.bg-700 {
    background-color: var(--color-700);
}

.border-700 {
    border-color: var(--color-700);
}

.bg-800 {
    background-color: var(--color-800);
}

.border-800 {
    border-color: var(--color-800);
}

.bg-900 {
    background-color: var(--color-900);
}

.color-900 {
    color: var(--color-900);
}

.color-900-fix {
    color: var(--color-900-dark);
}

.flex-2 {
    flex: 2;
}

/* Hilighter */

.hilighter::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 100%;
    margin-top: -6px;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    z-index: -1;
    background-color: var(--color-700);
}

/* Selection */

::selection {
    color: var(--color-100);
    background: var(--color-accent-1);
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-100);
    border-radius: 150px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-600);
}

@media screen and (max-width: 1000px) { 
    ::-webkit-scrollbar {
        width: 0px;
    }
}